.form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;

}

.input {
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;

}

.buttonsWrapper {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(43, 218, 60);
    cursor: pointer;
}

.additionalBtn {
    background-color: rgba(211, 211, 211, 0.264);
    max-width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: rgb(184, 180, 180);
    cursor: pointer;

}